.header {
  position: sticky;
  top: 0;
  z-index: 100;
  transition: all 1s ease;
  padding: 30px 0px;
  background-color: #dce5e2;
}
.header__content {
  display: flex;

  justify-content: space-between;
  align-items: flex-end;
  align-items: center;
}
.nav {
  position: relative;
  margin-left: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav__list {
  display: flex;
  align-items: center;
  margin-right: 80px;
  transition: all .5s ease-in-out;
}

.nav__item {
  margin-right: 10px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  text-transform: uppercase;
}
.nav__item:not(:first-child) {
  margin-left: 33px;
}
.nav__link {
  cursor: pointer;
  border: transparent;
}
.nav__link:hover {
  border-bottom: 1px solid black;
  transition: all 0.3s ease-in-out;
}
.user-content {
  display: flex;
  align-items: center;
}
.cart {
  margin-left: 13px;
}

.burger {
  position: relative;
  width: 36px;
  height: 30px;
  margin: 0 20px;
  display: none;
}
.burger--click {
  transform: rotate(360deg);
  transition: all 0.6s ease-in-out;
}
.burger__line {
  display: block;
  width: inherit;;
  height: 4px;
  background-color: black;
  transition: all 0.4s ease-in-out;
}
.burger__line:not(:first-child) {
  margin-top: 6px;
}
.burger:hover {
  cursor: pointer;
}
@media screen and (max-width: 1024px) {
  .burger {
    display: block;
  }
  .nav__list {
    position: absolute;
    top:40px;
    left:-15px;
    padding: 0 20px 20px 20px;
    background-color: #dce5e2;
    display: none;
    text-align: center;
    margin-right: 0;
    transition: all .5s ease-in-out;
    
  }
  .nav__item:not(:first-child) {
    margin-left: 0px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .nav__item {
    font-size: 12px;
    line-height: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
}
@media screen and (max-width: 375px) {
  .header{
    height: 50px;
  }
  .header__content {
    margin-bottom: 15px;
  }
}

